@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* common css starts  */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #FF0000;
    --secondary-color: #070211;
}

body {
    font-family: 'Merriweather';
}

.container {
    width: 85%;
    margin: 50px auto;
}

.btn-primary {
    padding: 16px 32px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-weight: 700;
}

/* common css ends  */


/* header css starts  */

.header {
    /* margin-top: 10px; */
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    background-position: center;
    color: #fff;
    /* background-image: url('../images/Banner\ Image.png'); */
    background-image: linear-gradient(180deg,
            rgba(3, 3, 3, 0.75),
            rgba(3, 3, 3, 0.25)), url('../images/Banner\ Image.png');
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content-info {
    margin: 120px auto;
}

.header-content-info h3 {
    font-weight: 400;
    font-size: 32px;
}

.header-content-info h1 {
    font-weight: 900;
    font-size: 72px;
}

/* header css ends */


/* category discount section starts */


.category-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.category-content>h1 {
    font-family: 'Inter';
    color: var(--primary-color);
    font-weight: 700;
    font-size: 88px;
}

.category-subtitle {
    text-align: center;
}

.category-subtitle h4 {
    font-size: 24px;
    color: var(--primary-color);
}

.category-subtitle h3 {
    font-size: 48px;
}

.category-content img {
    height: 300px;
}


/* category discount ends here  */


/* banner css start  */

.banner {
    height: auto;
    background-image: linear-gradient(180deg,
            rgba(3, 3, 3, 0.75),
            rgba(3, 3, 3, 0.25)), url('../images/Vectorrr.png');
    color: #fff;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.banner-content-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-content-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.banner-content-right {
    width: 30%;
}

.banner-content-right img {
    margin: 30px 0px;
    height: 400px;
}

/* banner css ends here  */


/* resenvation css starts  */
.reservation {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    margin: 100px 0px;
}

.reservation span {
    color: var(--primary-color);
}


/* offer content starts  */

.offer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.offer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.offer-left h4 {
    color: var(--primary-color);
    font-weight: 500;
    font-family: 'Inter';
    font-size: 24px;
}

.offer-left h2 {
    font-weight: 900;
}

.offer-middle {
    border-radius: 100%;
    border: 12px solid var(--primary-color);
}

.offer-middle img {
    height: 300px;
    height: 300px;
    border-radius: 100px;
    padding: 24px;
}

.offer-right {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.offer-right h4 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
}

.offer-right img {
    width: 140px;
    height: 140px;
}

/* offer css ends  */

.sale-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.sale-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sale-title>h1>span {
    color: var(--primary-color);
}

.sale-image {
    width: 100%;
    position: relative;
}

.sale-row {
    display: flex;
    justify-content: end;
}


.sale-row-img {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 70px;
    margin-left: 20px;
}

.sale-discount-img {
    position: absolute;
    left: 46%;
    top: 10%;

}

.sale-img-bottom {
    width: 100%;
    border-radius: 16px 0px 16px 16px;
}

/* sale section ends  */


/* portfolio starts  */
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.portfolio>h4 {
    color: var(--primary-color);
    font-family: 'Inter';
}

.portfolio-img {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.portfolio-img img {
    height: 350px;
    width: 350px;
    border-radius: 16px;
}

.portfolio-img img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(161, 161, 161, 0.8);
}

/* portfolio ends here  */